streamlit>=1.38.0
PyPDF2>=3.0.0
pypdf>=4.0.0
langchain>=0.2.11
langchain-core>=0.2.11
chromadb>=0.5.0
huggingface-hub>=0.23.0
sentence-transformers>=2.2.2
requests>=2.31.0
python-dotenv>=1.0.0
llama-index>=0.10.30
pytesseract
Pillow
